@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.home-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-title {
  color: #F20732;
  font-size: 80px;
  font-weight: normal;
  font-family: 'Great Vibes', cursive;
  margin: 0;
}

.subtitle {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  margin: 0;
}
