@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.home-container {
  display: flex;
  height: 88%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-title {
  color: #F20732;
  font-size: 80px;
  font-weight: normal;
  font-family: 'Great Vibes', cursive;
  margin: 0;
}

.subtitle {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .home-container {
    margin-top: 120px;
    margin-bottom: 180px;
  }
  .name-title {
    font-size: 70px;
  }
  .subtitle {
    font-size: 20px;
  }
}
