@import 'home';
@import 'navbar';
@import 'about';
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.2px;
  background-color: #001426;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  height: 88%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 145px;
  padding-left: 145px;
}

.heading {
  display: flex;
  font-size: 22px;
  color: white;
  font-family: 'Playfair Display', serif;
  padding: 10px;
}

@media screen and (max-width: 560px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    padding-left: 80px;
    padding-right: 80px;
  }
}
