@import 'home';
@import 'navbar';
@import 'about';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  background-color: #001426;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  height: 88%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.heading {
  display: flex;
  font-size: 22px;
  color: white;
  font-family: 'Playfair Display', serif;
}
